<template>
  <div class="Maincontainer">
    <div class="Header">
      Отзывы об {{client.name}}
    </div>
    <form :class="{'form': open}">
      <div @click="open = !open" class="title">ВАШ ОТЗЫВ</div>
      <div v-show="open" class="inputcontainer">
        <div class="leftg">  
          <label>Ваше имя<input type="text" name="" v-model="review.name"></label>
          <label>Ваш номер телефона<input type="text" name="" v-model="review.phone"></label>
          <label>Модель вашего автомобиля<input type="text" name="" v-model="review.car_model"></label>
          <label>Дата посещения СТО/Магазина<input type="date" format="yyyy-mm-dd" name="" v-model="review.visit_date"></label>
        </div>
        <div class="rightg">
          <label>Ваша оценка</label>
          <span class="giveRate">
            <span class="fa fa-star" @mouseover="review.rating = 1" :class="{'activeMark': review.rating >= 1}"></span>
            <span class="fa fa-star" @mouseover="review.rating = 2" :class="{'activeMark': review.rating >= 2}"></span>
            <span class="fa fa-star" @mouseover="review.rating = 3" :class="{'activeMark': review.rating >= 3}"></span>
            <span class="fa fa-star" @mouseover="review.rating = 4" :class="{'activeMark': review.rating >= 4}"></span>
            <span class="fa fa-star" @mouseover="review.rating = 5" :class="{'activeMark': review.rating >= 5}"></span>
          </span>
          <label>Будете пользоваться этим автосервисом</label>
          <span class="giveRate">
            <label>Да
              <div class="radio" @click="review.recommendation = true" :class="{'activeRadio': review.recommendation}"></div>
            </label>
            <label>Нет
              <div class="radio" @click="review.recommendation = false" :class="{'activeRadio': !review.recommendation}"></div>
            </label>
          </span>
        </div>
        <div class="descr">
          <label for="">Напишите отзыв</label>
          <textarea v-model="review.text" name=""></textarea>
        </div>
        <div v-if="postOK" class="postOK"><span class="fa fa-check"></span>Ваш отзыв отправлен </div>
        <a @click="saveReview()" class="submit">Отправить отзыв</a>
      </div>
    </form>
    <div v-for="r in client.reviews" class="container">
      <div class="topComment">
        <b>Дата</b>
        {{r.created_at}}
        <span class="smallBoldText rating">
          ОЦЕНКА
            <span class="fa fa-star"></span>
            <span class="fa" :class="{'fa-star': r.rating >= 2, 'fa-star-o': r.rating <= 1}"></span>
            <span class="fa" :class="{'fa-star': r.rating >= 3, 'fa-star-o': r.rating <= 2}"></span>
            <span class="fa" :class="{'fa-star': r.rating >= 4, 'fa-star-o': r.rating <= 3}"></span>
            <span class="fa" :class="{'fa-star': r.rating >= 5, 'fa-star-o': r.rating <= 4}"></span>
        </span>
      </div>
      <div class="hrBlock">
        <hr></hr>
      </div>
      <div class="bottomComment">
        <span class="boldText">
          Отзыв
        </span>
        <div class="commentText">
          {{r.text}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  async asyncData ({ params }) {
    let response = await axios.get('http://vsesto-spb.ru/api/clients/' + params.ID)
    return { client: response.data }
  },
  data () {
    return {
      client: [],
      review: {
        name: '',
        phone: '',
        car_model: '',
        visit_date: '',
        rating: '',
        recommendation: '',
        text: '',
        client_id: null
      },
      open: false,
      postOK: false
    }
  },
  mounted: function () {
    this.review.client_id = this.client.id
  },
  components: {
  },
  methods: {
    saveReview: function (id) {
      axios.post('http://vsesto-spb.ru/api/reviews', this.review).then(function (response) {
        this.postOK = true
      })
      .catch(function (error) {
        console.log(error)
      })
    }
  }
}
</script>

<style scoped>
  .Header {
    position: relative;
    padding: 11px 4%;
    font-size: 20px;
    width: 92%;
    text-align: left;
    background-color: rgb(37,53,89);
    font-weight: bold;
    color: white;
    box-shadow: 2px 2px 3px 0px rgb(220,220,220);
  }
  .rewiewButton{
    cursor: pointer;
    position: absolute;
    padding: 5px 1%;
    right: 4%;
    bottom: 6px;
    color: white;
    font-size: 18px;
    border: 1px solid white;
    font-weight: 400;
    text-transform: none;
    border-radius: 2px;
  }
  .rewiewButton:hover{
    transition: 0.5s;
    background-color: rgba(255,255,255,0.9);
    color: rgb(37,53,89);
  }
  form{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: white;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 2px 2px 3px rgb(220,220,220);
  }
  .form{
    padding-bottom: 70px;
  }
  form .title{
    cursor: pointer;
    font-size: 20px;
    width: 90%;
    padding: 20px 5%;
    background-color: rgb(250,250,250);
    color: rgb(100,100,100);
    font-weight: 600;
  }
  .title:hover{
    background-color: rgb(243,243,243);
    width: 90.2%;
    padding: 20px 4.9%;
    transition: 0.5s;
  }
  form .inputcontainer{
    width: 90%;
    padding: 20px 5%;
    background-color: white;
    color: rgb(100,100,100);
    vertical-align: top;
  }
  form .leftg{
    display: inline-block;
    width: 50%;
  }
  form .rightg{
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
  .giveRate{
    display: block;
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 30px;
    color: rgb(240,240,240);
    transition: 1s;
  }
  .giveRate label{
    position: relative;
    font-weight: 400;
    display: inline-block;
    font-size: 20px;
    color: rgb(100,100,100);
    width: 50%;
  }
  .radio{
    position: absolute;
    top: -5px;
    left: 45px;
    display: inline-block;
    width:25px;
    height: 25px;
    border-radius: 20px;
    background-color: rgb(246,246,246);
    border: 5px solid rgb(246,246,246);
    transition: 0.3s;
  }
  .activeRadio{
    background-color: rgb(100,100,100);
    transition: 1s;
  }
  .activeMark{
    color: rgb(100,100,100);
    transition: 1s;
  }
  form label{
    font-weight: 600;
    font-size: 18px;
  }
  form input{
    display: block;
    color: rgb(100,100,100);
    font-size: 14px;
    font-weight: 500;
    width: 80%;
    height: 30px;
    background-color: rgb(246,246,246);
    box-shadow: none;
    outline: none !important;
    padding: 4px 10px;
    border: 1px solid rgb(246,246,246);
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 25px;
  }
  form input[type="date"]::-webkit-inner-spin-button { display: none; }
  form input[type="date"]::-webkit-clear-button { display: none; }
  form input:focus{
    border: 1px solid rgb(200,200,200);
    background-color: white;
  }
  .descr label{
    display: block;
    color: rgb(100,100,100);
    margin-bottom: 5px;
  }
  .descr textarea{
    display: block;
    height: 200px;
    width: 90%;
    border-radius: 2px;
    outline: none !important;
    background-color: rgb(246,246,246);
    border: 1px solid rgb(246,246,246);
    color: rgb(100,100,100);
    padding: 20px 5%;
  }
  .descr textarea:focus{
    border: 1px solid rgb(200,200,200);
    background-color: white;
  }
  .submit{
    position: absolute;
    right: 5%;
    bottom: 20px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(200,200,200);
    padding: 12px 40px;
    font-size: 16px;
    border-radius: 3px;
    transition: 0.2s;
  }
  .submit:hover{
    background-color: rgb(246,246,246);
    transition: 0.5s;
  }
  .container{
  width:80%;
  color: rgb(100,100,100);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  box-shadow: 2px 2px 3px rgb(220,220,220);
}

.bigText{
  font-size: 18px;
  padding: 10px;
}

.formContainer{
  width:50%;
  height: 200px;
}
.container .rating span{
  color: rgb(100,100,100);
  font-size: 22px;
}
.boldText,
.smallBoldText{
  font-weight: 600;
}
.boldText{
  padding-bottom: 10px;
}

.smallBoldText{
  font-size: 12px;
  display: inline;
}

.bottomComment{
  padding: 15px 15%;
}

.topComment{
  font-size: 14px;
  padding: 20px 15%;
  position: relative;
}
.topComment b{
  font-size: 16px;
}

.rating{
  position: absolute;
  left:45%;
  bottom: 21px;
}
.imgCont{
  height: 50px;
  width: 200px;
  float: inline-block;
  position: absolute;
  bottom:-25px;
  left: 70px;
}

.hrBlock{
  padding-left: 7px;
  padding-right: 7px;
}

.lightGrey{
  background-color: rgb(245,245,245);
}

.white{
  background-color: white;
}

.commentText{
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 0.9em;
}

hr{
  margin: 0;
  border-color:rgb(245,245,245);
}
.pagination {
  text-align: center;
  padding: 10px 0 15px 0;
}
.pagination span{
  cursor: pointer;
  margin-right: 5px;
  font-size: 14px;
  color: rgb(100,100,100);
}
.pagination span:hover{
  text-decoration: underline;
} 
.pagination .fa{
  margin: 0;
  cursor: pointer;
  font-size: 16px;
}
.postOK{
  position: absolute;
  left: 5%;
  bottom: 20px;
  color: green;
  background-color: white;
  border: 1px solid green;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 3px;
}
.postOK .fa{
  font-size: 21px;
}
@media only screen and (min-width: 20px) and (max-width: 600px){
  form{
    width: 96%;
  }
  form .leftg{
    width: 100%;
  }
  form .rightg{
    width: 100%;
  }
  .rating{
    position: static;
    display: block;
    margin-top: 10px;
    font-size: 12px;
  }
  .container{
    width: 96%;
  }
  .container .rating span{
    font-size: 18px;
  }
  .rewiewButton{
    right: 4%;
    padding: 12px 25%;
  }
}
</style>
