<template>
  <footer>
    <div class="contactGroup">
      <a href="mailto:vsesto-spb@mail.ru"><span class="fa fa-envelope"></span>vsesto-spb@mail.ru</a>
      <!--<a class="tel" href="telto:info@vsesto-spb.ru"><span class="fa fa-mobile"></span>+375291996913</a>-->
    </div>
    <!--<div class="logo">
      <span>VSESTO-SPB</span>
    </div>-->
    <div class="copyright">
      <a href="http://beone.by" target="_blank">created by <b>BEONE WEBSTUDIO</b></a>
      <span>© ВсеСТО-СПБ, 2017</span>
    </div>
  </footer>
</template>

<style src="../assets/css/Footer.css">
</style>
