<template>
  
</template>

<script>
  import axios from 'axios'
  export default {
    async asyncData ({ params }) {
      let { data } = await axios.get('http://vsesto-spb.ru/api/work-types')
      return { workTypes: data }
    },
    data () {
      return {
        workTypes: []
      }
    }
  }
</script>

<style>

</style>
