<template>
  <div class="searchRow">
    <div class="logo">
      <nuxt-link to="/"><img src="../assets/img/logo2.png" alt=""></nuxt-link>
    </div>
    <div class="inputGroup">
      <input type="text" placeholder="ПОИСК" v-model="search"><span class="fa fa-search"></span>
      <div v-if="showResults" class="searchResult">
        <span @click="сloseSearch()" class="fa fa-close"></span>
        <nuxt-link v-for="item in sto" :to="'/' + item.id">
          <h4>{{item.name}}</h4>
          <h5>{{item.address}}</h5>
        </nuxt-link>
      </div>
    </div>
    <div class="SocNetworks">
      <div class="Network" id="facebook"><a href="https://www.facebook.com/profile.php?id=100021678000179" target="_blank"><span class="fa fa-facebook"></span></a></div>
      <div class="Network" id="vk"><a href="https://vk.com/public151677250" target="_blank"><span class="fa fa-vk"></span></a></div>
      <div class="Network" id="instagram"><a href="https://www.instagram.com/vse_sto_spb/" target="_blank"><span class="fa fa-instagram"></span></a></div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  export default {

    data () {
      return {
        sto: [],
        showResults: false,
        search: ''
      }
    },

    watch: {
      search: function () {
        this.fetchVisibility()
        this.findSto()
      }
    },
    methods: {
      findSto: async function (sto) {
        let resp = await axios.get('http://vsesto-spb.ru/api/clients/search?query=' + this.search).then(response => response.data)
        this.sto = resp
      },
      fetchVisibility: function () {
        this.showResults = this.search !== ''
      },
      сloseSearch: function () {
        this.search = ''
      }
    }
  }
</script>

<style src="../assets/css/searchRow.css"></style>
