<template>

<div :class="{'list': !vip, 'VIPlist': vip}">
    <div v-for="item in data" class="item">
        <nuxt-link class="review" :to="'/review/' + item.id">Отзывы ({{item.reviews_count}})</nuxt-link>
        <nuxt-link :to="'/' + item.id"><h4>{{item.name}}</h4>
        <img v-if="vip" src="../assets/img/VIP.png" class="fon" alt="">
        <img v-if="vip" src="../assets/img/angle.png" alt="">
        <div class="rating">
          <span class="fa fa-star"></span>
          <span class="fa" :class="{'fa-star': item.rating >= 2, 'fa-star-o': item.rating <= 1, 'fa-star-half-o': ((item.rating < 2) && (item.rating > 1))}"></span>
          <span class="fa" :class="{'fa-star': item.rating >= 3, 'fa-star-o': item.rating <= 2, 'fa-star-half-o': ((item.rating < 3) && (item.rating > 2))}"></span>
          <span class="fa" :class="{'fa-star': item.rating >= 4, 'fa-star-o': item.rating <= 3, 'fa-star-half-o': ((item.rating < 4) && (item.rating > 3))}"></span>
          <span class="fa" :class="{'fa-star': item.rating == 5, 'fa-star-o': item.rating <= 4, 'fa-star-half-o': ((item.rating < 5) && (item.rating > 4))}"></span>
        </div>
        <div :mytitle="item.work_time" class="shedule">
          <span v-for="day in item.work_days" class="fa" :class="{'fa-circle': day.type === 'full', 'fa-dot-circle-o': day.type === 'half','fa-circle-o': day.type === 'weekend'}"></span>
        </div>
        <p>{{item.short_description}}</p>
        <p class="promotion">{{item.sales}}</p></nuxt-link>
        <div class="line"></div>
        <div class="telgrop">
          <span class="fa fa-phone"></span>
          <a v-for="tel in item.phones" :href="'tel:' + tel.number" class="tel">{{tel.number}}</a>
        </div>
        <div class="adressgroup">
          <span class="fa fa-map-marker"></span>
          <a mytitle="Показать на карте" @click="show_on_map(item)">{{item.address}}</a>
        </div>
    </div>
</div>

</template>

<script>
  import $ from 'jquery'
  export default {

    props: ['data', 'vip'],

    methods: {
      show_on_map: function (item) {
        $('html, body').animate({
          scrollTop: 0
        }, 1200)
        this.$parent.center = {lat: +(item.latitude), lng: +(item.longitude)}
        this.$parent.zoom = 16
      }
    }
  }
</script>
