  footer .contactGroup
{
    position: absolute;
    top: 7px;
    left: 4%;
}
footer .copyright
{
    position: absolute;
    top: 7px;
    right: 4%;
}
footer .contactGroup a
{
    font-size: 12px;

    margin-right: 10%;

    white-space: nowrap;
}
footer .logo span
{
    font-size: 30px;
    font-weight: bold;

    position: absolute;
    top: 0;
    left: 40%;

    display: inline-block;

    color: rgb(235,235,235);
}
footer .copyright a
{
    font-size: 10px;

    display: inline;

    margin-right: 10%;

    white-space: nowrap;
}
footer .copyright span
{
    font-size: 11px;

    text-align: right;
    white-space: nowrap;

    color: rgb(235,235,235);
}

@media only screen and (min-width: 20px) and (max-width: 600px){
    footer .contactGroup{
        display: none;
    }
    footer .copyright{
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }
    footer .copyright a{
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    footer .copyright span{
        display: block;
        top: 5px;
        right: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        font-size: 10px;
    }
}