header
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
}
header .contactGroup
{
    position: absolute;
    right: 4%;

    margin-top: 6px;

    text-align: right;
}
header .contactGroup a
{
    font-size: 12px;

    margin-left: 10%;

    white-space: nowrap;
}
header .copyright
{
    font-size: 10px;

    position: absolute;
    left: 4%;

    margin-top: 10px;
}

@media only screen and (min-width: 20px) and (max-width: 600px){
    header
    {
        height: 24px;

        width:100%;

        text-align: center;
    }
    header .copyright
    {
        display: none;
    }
    header .contactGroup
    {
        position: relative;
        top: 0;
        max-width: 100%;
        height: 24px;
        margin: 0;
        right: 0;
    }
    header .contactGroup a:nth-child(1)
    {   position: absolute;
        left: 4%;
        top: 5px;
        margin: 0;
    }
    header .contactGroup a:nth-child(2)
    {   position: absolute;
        right: 4%;
        top: 5px;
        margin: 0;
        text-align: right;
    }
}
