html,
body
{
    font-family: 'Roboto', sans-serif;

    margin: 0;
    padding: 0;

    background-color: rgb(235,235,235);
}
.mainPage, .STOPage, .Maincontainer{
    margin-top: 86px;
}
a,
a:hover,
a:focus,
a:visited
{
    color: inherit !important;
    text-decoration: none;
}
.page-enter-active,
.page-leave-active
{
    transition: opacity .5s;
}
.page-enter,
.page-leave-active
{
    opacity: 0;
}
.fa:before
{
    margin-right: 5px;
}
header a,
footer a
{
    color: rgb(235,235,235);
}
footer,
header
{
    width: 100%;
    position: relative;

    height: 34px;

    color: rgb(235,235,235);
    background-color: rgb(37,53,89);
}
header{
    z-index: 100;
}
@media only screen and (min-width: 20px) and (max-width: 600px){
    .mainPage, .STOPage, .Maincontainer{
        margin-top: 66px;
    }
}
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}