.mainPage {
  padding-top: 35px;
}
.map{
  width: 100%;
  height: 400px;
  margin: 0;
}
.m-MainBlock{
  display: none;
}
.m-menu{
  display: none;
}
.TypeHeader{
  display: none;
}
.STOlist{
  padding: 0 1%;
  display: block;
  position: relative;
  top: 0;
  height: 350px;
}
.STOlistheader{
  padding: 12px 0;
  text-align: center;
  text-transform: uppercase;
  width: 98%;
  margin: 10px 1%; 
  background-color: rgb(37,53,89);
  font-weight: bold;
  color: white;
  box-shadow: 2px 2px 3px 0px rgb(220,220,220);
}
.VIPlist {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 1%;
  width:48.8%;
}
.fon{
  position: absolute;
  left: 0;
  top: 0;
}
.BannerList {
  display: block;
  margin: 10px 2%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.BannerList img{
  display: inline-block;
  width:33%;
  max-height: 130px;
}
.list{
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1%;
  width: 48.8%;
  display: block;
}
.VIPlist .item .fon{
  width: 100%;
  max-height: 170px;
  opacity: 0.4;
}
.VIPlist .item img{
  width: 45%;
}
.item{
  position: relative;
  display: block;
  background-color: white;
  width: 99.9%;
  height: 170px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 3px 0px rgb(220,220,220);
  border-radius: 3px;
  color: rgb(51,153,204);
}
.item .pin{
  position: absolute;
  left: 2%;
  top: 10px;
  color: rgb(100,100,100);
  font-size: 24px;
}
.item:hover{
  box-shadow: 5px 6px 7px 0px rgb(200,200,200);
}
.item h4{
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  left: 7%;
  margin: 0;
  color: rgb(51,153,204);
  max-width: 22%;
  white-space: nowrap;
  overflow: hidden;
}
.item .rating{
  position: absolute;
  top:14px;
  left: 32%;
}
.item .rating span{
  color: rgb(100,100,100);
}
.item .review{
  position: absolute;
  font-size: 13px;
  color: rgb(51,153,204);
  top: 16px;
  right: 30%;
  text-decoration: underline;
  z-index: 4;
}
.item .shedule{
  position: absolute;
  right: 3%;
  top:17px;
  font-size: 13px;
  color: rgb(100,100,100);
}
.shedule[mytitle]:hover:after, a[mytitle]:hover:after{
  content: attr(mytitle);
  padding: 4px 8px;
  color: white;
  position: absolute;
  right: 0;
  top: 105%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 4px rgb(220,220,220);
  -webkit-box-shadow: 0px 0px 4px rgb(220,220,220);
  box-shadow: 2px 2px 3px rgb(220,220,220);
  background-color: rgb(100,100,100);
}
.item p{
  position: absolute;
  top: 30px;
  left: 7%;
  font-size: 12px;
  width: 86%;
  color: rgb(100,100,100);
}
.item p.promotion{
  position: absolute;
  top: 80px;
  left: 7%;
  width: 86%;
  color: rgb(235, 53, 102);
}
.item .line{
  position: absolute;
  top: 128px;
  left: 0;
  width:100%;
  height: 1px;
  background-color: rgb(200,200,200);
}
.item .telgrop{
  position: absolute;
  left: 4%;
  bottom: 15px;
  font-size: 13px;
  color: rgb(100,100,100);
}
.telgrop a{
  margin-right: 5px;
  color: inherit;
}
.item .adressgroup {
  position: absolute;
  right: 4%;
  bottom: 15px;
  font-size: 13px;
  color:rgb(100,100,100);
}
.adressgroup  a {
  cursor: pointer;
  text-decoration: underline;
}
.pagination {
  text-align: center;
  padding: 10px 0 15px 0;
}
.pagination span{
  cursor: pointer;
  margin-right: 5px;
  font-size: 14px;
  color: rgb(100,100,100);
}
.pagination span:hover{
  text-decoration: underline;
} 
.pagination .fa{
  margin: 0;
  cursor: pointer;
  font-size: 19px;
}
.pagination .fa:hover{
  text-decoration: none;
  color: rgb(120,120,120);
}
.activepage{
  background: rgb(100,100,100);
  color: rgb(235,235,235) !important;
  padding: 2px 5px;
  border-radius: 8px;
}
.footerinfo{
  margin: 0 1%;
  background-color: white;
  padding: 70px 4%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.footerinfo .title{
  text-align: center;
  font-size: 60px;
  color: rgb(160,160,160);
  margin-bottom: 30px;
}
.footerinfo .info {
  color: rgb(160,160,160);
  font-size: 13px;
  margin: 0;
  text-align: center;
  line-height: 20px;
}

.logo{
  width: 15px;
  height: 12px;
  margin-right: 5px;
}
 .menu{
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  opacity: 0.85;
  height: 400px;
  background-color: white;
 }
 .MContainer{
  position: relative;
  width:50%;
  padding:20px 3%;
  float: left;
 }
 .WContainer{
  width:35%;
  padding:20px 3%;
  float: left;
 }
 .WContainer ul{
  display: inline;
  width:33.3%;
 }
 .MContainer ul{
  height: 330px;
  overflow-y: scroll;
 }
 .MContainer ul::-webkit-scrollbar {
    width: 0;
}
 
.MContainer ul::-webkit-scrollbar-track {
    background-color: rgba(200,200,200,0.7);
    border-radius: 10px;
}
 
.MContainer ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid rgb(200,200,200); 
    background-color: white;
}
 .MContainer ul li{
  display: inline-block;
  width: 99px;
 }
 .m-row{
  display: none;
 }
 .row{
  position: fixed;
  top: 86px;
  left: 0;
  z-index: 9;
  width:100%;
  height: 34px;
  box-shadow: 1px 1px 1px 0 rgb(210,210,210);
  background-color: rgb(242,242,242);
 }
 .header{
  text-transform: uppercase;
 }
 .header .fa{
  color: rgb(70,70,70);
  cursor: pointer;
 }
 .menu ul{
  display: inline;
  float: left;
  padding: 0;
  border: none;
  list-style: none;
  margin: 0;
  margin-top: 10px;
 }
 .menu ul li{
  cursor: pointer;
  white-space: normal;
  font-weight: normal;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 3px;
  border-bottom: 1px solid white;
 }
 .menu ul li:hover{
  background-color: rgb(240,240,240);
 }
 .nav{
  list-style: none;
  width: 100%;
  padding: 0 4.6%;
  margin: 0;
 }
 .nav li:nth-child(1){
  border-left: 1px solid rgb(200,200,200);
 }
 .nav li{
  color: rgb(100,100,100);
  cursor: pointer;
  text-align: center;
  width: 15%;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  float: left;
  border-right: 1px solid rgb(200,200,200);
  padding: 9.5px 0;
 }
 .nav li:hover{
  background-color: rgb(215,215,215);
 }
 .nav li.active{
    color: white;
    background-color: rgb(51,153,204);
 }
 .Reset{
    cursor: pointer;
    position: absolute;
    top:21px;
    right: 6%;
    color: rgb(100,100,100);
    font-size: 15px;
    font-style: italic;
    border-bottom: 1px dotted rgb(100,100,100);
 }
 .SelectRegion{
    z-index: 6;
    position: absolute;
    top: 130px;
    right: 1%;
    background-color: white;
    min-width: 160px;
    padding: 8px;
    font-size: 13px;
    color: rgb(80,80,80);
    height: 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    min-width: 22px;
 }
 .SelectRegion div{
  position: relative;
 }
 .RegionUL{
    z-index: 6;
    display: none;
    list-style: none;
    position: absolute;
    left: 0;
    top: 103%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: rgb(80,80,80);
    padding-top: 15px; 
    max-height: 160px;
    border-radius: 2px;
    background-color: white;
    overflow: scroll;
 }
 .RegionUL li{
    padding: 3px 0;
    width: 100%;
 }
 .RegionUL li:hover{
  background-color: rgb(235,235,235);
 }
 .RegionUL::-webkit-scrollbar {
    width: 0;
  }
 @media only screen and (min-width: 900px) and (max-width: 1130px){
  .MContainer{
    width: 40%;
  }
  .MContainer ul::-webkit-scrollbar {
    width: 12px;
  }
  .MContainer ul li{
    width: 20%;
  }
  .WContainer{
    width: 45%;
  }
  .WContainer::-webkit-scrollbar {
    width: 0;
  }
  .BannerList img:nth-child(3){
    display: none;
  }
  .BannerList img{
    width: 49.6%;
  }
  .nav li{
    font-size: 12px;
  }
  .telgrop a:nth-child(2){
    display: none;
  }
  .STOlist{
    height: 530px;
  }
  .item p.promotion{
    top: 86px;
  }
  .item{
    height: 260px;
  }
  .item .review{
    top: 35px;
    right: 7%;
  }
  .item .rating{
    top: 35px;
    left: 7%;
  }
  .item p{
    position: absolute;
    top: 50px;
  }
  .item p.promotion{
    position: absolute;
    top: 125px;
  }
  .item .line{
    top: 190px;
  }
  .item .telgrop{
    bottom: 40px;
    left: 7%;
  }
  .item .adressgroup{
    bottom: 15px;
    left: 7%;
  }
  .item .shedule{
    right: 5%;
  }
}