@media only screen and (min-width: 20px) and (max-width: 600px){
  .map{
    display: none;
  }
  .SelectRegion{
    display: none;
  }
  .row{
    display: none;
  }
  .m-row{
    display: block;
    position: fixed;
    top: 66px;
    left: 0;
    z-index: 7;
    width:100%;
    height: 33px;
    box-shadow: 2px 2px 3px 0 rgb(210,210,210);
    background-color: rgb(242,242,242);
  }
  .m-row .nav{
    padding: 0;
    margin: 0;
    height: 100%;
  }
  .m-row .nav li{
    width: 16.4%;
  }
  .m-row .nav li:nth-child(1){
    border-left: none;
  }
  .m-row .nav li:last-child{
    border-right: none;
  }
  .m-menu{
    display: block;
    width: 100%;
    z-index: 6;
    background-color: white;
    position: absolute;
    padding-top: 40px;
    padding-bottom: 15px;
    top:98px;
    opacity: 1;
    height:auto;
    overflow: scroll;
  }
  .TypeHeader{
    display: block;
    z-index: 8;
    position: fixed;
    top:98px;
    width: 100%;
    text-align: center;
    background-color: rgb(51,153,204);
    color: white;
    padding: 11px 0;
    font-weight: bold;
    box-shadow: 2px 2px 3px 0 rgb(210,210,210);
  }
  .telgrop a:nth-child(3){
    display: none;
  }
  .telgrop a:nth-child(4){
    display: none;
  }
  .BannerList {
    justify-content: space-around;
  }
  .BannerList img:nth-child(3), .BannerList img:nth-child(2){
    display: none;
  }
  .BannerList img{
    width: 98%;
  }
  .m-models, .m-Worktypes, .m-Subworktypes, .m-Regions{
    width:90%;
    padding:0 5%;
    text-align: center; 
    position: relative;
  }
  .m-models .reset, .m-Worktypes .reset, .m-Subworktypes .reset, .m-Regions .reset{
    display: none;
  }
  .m-models.open .reset, .m-Worktypes.open .reset, .m-Subworktypes.open .reset, .m-Regions.open .reset{
    display: block;
    position: absolute;
    top:40px;
    right: 5%;
    font-size: 14px;
    color: rgb(100,100,100);
    border-bottom: 1px dotted rgb(100,100,100);
  }
  .m-models span.fa-arrow-down, .m-Worktypes span.fa-arrow-down, .m-Subworktypes span.fa-arrow-down, .m-Regions span.fa-arrow-down {
    display: none;
  }
  .m-models.open span.fa-arrow-down, .m-Worktypes.open span.fa-arrow-down, .m-Subworktypes.open span.fa-arrow-down, .m-Regions.open span.fa-arrow-down {
    display: none;
  }
  .m-models span.fa-arrow-up, .m-Worktypes span.fa-arrow-up, .m-Subworktypes span.fa-arrow-up, .m-Regions span.fa-arrow-up {
    display: none;
  }
  .m-models.open span.fa-arrow-up, .m-Worktypes.open span.fa-arrow-up, .m-Subworktypes.open span.fa-arrow-up, .m-Regions.open span.fa-arrow-up {
    opacity: 1;
  }
  .m-models h4, .m-Worktypes h4, .m-Subworktypes h4, .m-Regions h4{
    font-size: 18px;
    margin: 0;
    padding: 15px 0;
    background-color: white;
    color: rgb(100,100,100);
    border-bottom: 1px solid rgb(210,210,210);
    transition: 0.5s ease-out 0.7s;
  }
  .m-models.open h4, .m-Worktypes.open h4, .m-Subworktypes.open h4, .m-Regions.open h4{
    border-bottom: none;
  }
  .m-models ul, .m-Worktypes ul, .m-Subworktypes ul, .m-Regions ul{
    display: none;
    margin: 0;
    padding:10px 0;
    width: 100%;
    border-bottom: 1px solid rgb(210,210,210);
  }
  .m-models ul li, .m-Worktypes ul li, .m-Subworktypes ul li, .m-Regions ul li {
    display: inline-block;
    width: 250px;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    vertical-align: top;
  }
  .m-models ul li{
    width: 150px;
  }
  .MainBlock{
    display: none;
  }
  .m-MainBlock{
    display: block;
  }
  .m-MainBlock .STOlist{
    height: auto;
  }
  .m-MainBlock .VIPlist, .m-MainBlock .list{
    position: static;
    width: 98%;
    margin: 0;
    padding-left: 1%;
  }
  .item{
    height: 260px;
  }
  .item h4{
    max-width: 50%;
  }
  .item .review{
    top: 35px;
    right: 7%;
  }
  .item .rating{
    top: 35px;
    left: 7%;
  }
  .item p{
    position: absolute;
    top: 50px;
  }
  .item p.promotion{
    display: none;
    position: absolute;
    top: 125px;
  }
  .item .line{
    top: 190px;
  }
  .item .telgrop{
    bottom: 40px;
    left: 7%;
  }
  .item .adressgroup{
    bottom: 15px;
    left: 7%;
  }
  .item .shedule{
    right: 5%;
  }
  .item .fon{
    display: none;
  }
  .VIPlist .item img{
    width: 55%;
  }
}