@media only screen and (min-width: 20px) and (max-width: 600px){
  .map{
    display: none;
  }
  .SelectRegion{
    display: none;
  }
  .telgrop a:nth-child(2){
    display: none;
  }
  .BannerList {
    justify-content: space-around;
  }
  .BannerList img:nth-child(3), .BannerList img:nth-child(2){
    display: none;
  }
  .BannerList img{
    width: 98%;
  }
  .MainBlock{
    display: none;
  }
  .m-MainBlock{
    display: block;
  }
  .m-MainBlock .STOlist{
    height: auto;
  }
  .m-MainBlock .list .item{
    width: 98%;
    margin: 0;
    padding-left: 1%;
  }
  .item{
    height: 260px;
  }
  .item .review{
    top: 35px;
    right: 7%;
  }
  .item .rating{
    top: 35px;
    left: 7%;
  }
  .item p{
    position: absolute;
    top: 50px;
  }
  .item p.promotion{
    position: absolute;
    top: 125px;
  }
  .item .line{
    top: 190px;
  }
  .item .telgrop{
    bottom: 40px;
    left: 7%;
  }
  .item .adressgroup{
    bottom: 15px;
    left: 7%;
  }
  .item .shedule{
    right: 5%;
  }
}