 .searchRow
{
    position: fixed;
    top: 34px;
    left: 0;

    display: block;

    width: 100%;
    height: 52px;

    background-color: white;
    z-index: 100;
}
.logo{
    margin-left: 4%;
}
.logo img{
    width: 85px;
    margin-top: -7px;
}
.StoreButton
{
    font-size: 12px;
    font-weight: bolder;
    line-height: 32px;

    position: absolute;
    top: 10px;
    right: 4%;

    height: 32px;
    padding: 0 7px;
    border-radius: 3px;

    color: white;
    background-color: rgb(205,53,102);
}
.StoreButton:hover
{
    background-color: rgb(235, 53, 102);
    box-shadow: 2px 2px 2px 0px rgb(220,220,220);
}
.inputGroup
{
    position: absolute;
    top: 10px;
    left: 35%;

    width: 20%;
}
.inputGroup input
{
    width: 100%;
    height: 14px;
    padding: 8px 10px 8px 40px;

    color: rgb(130,130,130);
    border: 1px solid rgb(200,200,200);
    outline: none !important;
    box-shadow: none;
}
.inputGroup .fa:before
{
    position: absolute;
    top: 7px;
    left: 4%;

    color: rgb(200,200,200);
}
.SocNetworks
{
    font-size: 26px;

    position: absolute;
    top: 9px;
    right: 13%;

    color: rgb(100,100,100);
}
.SocNetworks .Network
{
    width: 34px;
    height: 32px;
    transition: .5s;
    display: inline-block;

    padding: 3px;

    cursor: pointer;

    border-bottom: 2px solid white;
}
.SocNetworks span:before
{
    margin: 5px;
}
.SocNetworks #facebook .fa{
    margin-left:4px;
}
.SocNetworks #vk .fa{
    margin-left: -4px;
}
.SocNetworks #facebook:hover 
{
    transition: .5s;
    color: rgb(59,89,152);
    border-color: rgb(59,89,152);
}
.SocNetworks #vk:hover 
{
    transition: .5s;
    color:  #45688E;
    border-color: #45688E;
}
.SocNetworks #instagram:hover
{
    transition: .5s;
    color: rgb(205,72,107);
    border-color: rgb(205,72,107);
}
.SocNetworks #twitter:hover
{
    transition: .5s;
    color: #00acee;
    border-color: #00acee;
}
.searchResult{
    position: absolute;
    background: white;
    top: 80%;
    left: 0;
    padding: 8px 10px 8px 40px;
    width: 100%;
    z-index: 9999;
    min-height: 150px;
    max-height: 250px;
    overflow-y: auto;
}
.searchResult .fa{
    font-size: 20px;
    position: absolute;
    right: 7%;
    top: 0;
}
.searchResult a h4{
    color: rgb(51,153,204);
    margin-bottom: 10px;
}
.searchResult a h5{
    font-weight: lighter;
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(180,180,180);
}


@media only screen and (min-width: 20px) and (max-width: 900px){
    .SocNetworks
    {
        display: none;
    }
}

@media only screen and (min-width: 20px) and (max-width: 600px){
    .logo{
        margin-left: 1%;
        margin-top: -6px;
    }
    .searchRow
    {
        top: 24px;

        height: 42px;
    }
    .SocNetworks
    {
        display: none;
    }
    .inputGroup
    {
        top: 7px;
        left: 30%;

        width: 31%;
    }
    .inputGroup .fa:before{
        top: 5px;
        left: 8%;
    }
    .inputGroup input
    {
        padding: 6px 10px 6px 30px;
    }
    .StoreButton
    {
        line-height: 28px;
        height: 28px;
        top: 7px;
        right: 2%;
        padding: 0 3px;
        font-size: 10px;
    }
}
