@media only screen and (min-width: 600px) and (max-width: 900px){
  .telgrop a:nth-child(2){
    display: none;
  }
  .BannerList {
    justify-content: space-between;
  }
  .BannerList img:nth-child(3){
    display: none;
  }
  .BannerList img{
    width: 49%;
  }
  .m-MainBlock{
    display: block;
  }
  .MainBlock{
    display: none;
  }
  .m-MainBlock .STOlist{
    height: auto;
  }
  .m-MainBlock .list .item{
    width: 98%;
    margin: 0;
    padding-left: 1%;
  }
}