<template>
  <div>
    <my-header/>
    <search-row/>
    <nuxt/>
    <my-footer/>
  </div>
</template>

<script>
import MyFooter from '~components/Footer.vue'
import MyHeader from '~components/Header.vue'
import SearchRow from '~components/SearchRow.vue'

export default {
  data () {
    return {
      review: false
    }
  },
  components: {
    MyFooter,
    MyHeader,
    SearchRow
  }
}
</script>

<style src="~assets/css/roboto.css" lang="css"></style>
<style src="~assets/css/font-awesome.css" lang="css"></style>
