<template>
  <div>
  <div class="STOPage">
    <div class="Header">
      {{client.name}}
      <div class="Hrating">
        <span class="fa fa-star"></span>
        <span class="fa" :class="{'fa-star': client.rating >= 2, 'fa-star-o': client.rating <= 1, 'fa-star-half-o': ((client.rating < 2) && (client.rating > 1))}"></span>
        <span class="fa" :class="{'fa-star': client.rating >= 3, 'fa-star-o': client.rating <= 2, 'fa-star-half-o': ((client.rating < 3) && (client.rating > 2))}"></span>
        <span class="fa" :class="{'fa-star': client.rating >= 4, 'fa-star-o': client.rating <= 3, 'fa-star-half-o': ((client.rating < 4) && (client.rating > 3))}"></span>
        <span class="fa" :class="{'fa-star': client.rating == 5, 'fa-star-o': client.rating <= 4, 'fa-star-half-o': ((client.rating < 5) && (client.rating > 4))}"></span>
      </div>
      <nuxt-link class="rewiew" :to="'/review/' + client.id">Отзывы ()</nuxt-link>
      <nuxt-link class="rewiewButton" :to="'/review/' + client.id">Написать отзыв</nuxt-link>
    </div>
    <div class="InfoContainer">
      <div  v-if="!popUp" v-swiper:mySwiper="swiperOption" class="smallSlider" @click="popUp = true">
        <div class="swiper-wrapper">
          <div @click="popImg = img.path" class="swiper-slide" v-for="img in client.images">
            <img :src="'http://vsesto-spb.ru/storage/' + img.path" alt="">
          </div>
        </div>
      </div>
      <div class="InfoBlock">
        <div class="shortInfo">{{client.short_description}}
        </div>
        <div class="promotion">
          {{client.sales}}
        </div>
        <div class="contactGroup">
          <div class="phones">
            <a v-for="tel in client.phones" href="telto:+375291996913"><span class="fa fa-phone"></span>{{tel.number}}</a>
          </div>
          <div class="address">
            <a @click="ShowOnMap()"><span class="fa fa-map-marker"></span> {{client.address}}</a>
          </div>
          <div class="web">
            <span v-if="client.email" class="fa fa-envelope"></span><a v-if="client.email" :href="'mailto:' + client.email">{{client.email}}</a>
            <span v-if="client.site" class="fa fa-info-circle"></span><a v-if="client.site" :href="'http://' + client.site">{{client.site}}</a>
          </div>
        </div>
        <div class="Dashboard">
          <div class="workTime">
            <span>Рабочие дни:</span>
            <div v-for="day in client.work_days" class="fa" :class="{'fa-circle': day.type === 'full', 'fa-dot-circle-o': day.type === 'half','fa-circle-o': day.type === 'weekend'}"></div>
          </div>
          <div class="weekendTime">
            <span>Время работы: {{client.work_time}}</span>
          </div>
          <div class="types">
            <span>Тип обслуживаемого транспорта:</span>
            <span class="fa" v-for="t in client.transport_types" :class="{'fa-car': t.slug === 'car', 'fa-truck': t.slug === 'lorry','fa-motorcycle': t.slug === 'moto', 'fa-bus': t.slug === 'minivan', 'fa-vk': t.slug === 'quadro', 'fa-ship': t.slug === 'water'}"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="workTypesContainer">
      <div class="models">
        <div class="Header">Обслуживаемые марки</div>
        <ul>
          <li v-for="m in client.car_models"><span><img :src="'http://vsesto-spb.ru/storage/' + m.image_path" class="logo">{{m.name}}</span></li>
        </ul>
      </div>
      <div class="hr"></div>
      <div class="workTypes">
        <div v-if="client.type === 'service'" class="Header">Выполняемые работы</div>
        
        <ul v-if="client.type === 'service'">
          <li @click="getWorkSubtypes(workType)" v-for="workType in client.work_types">
            {{ workType.name }} <span :id="'r' + workType.id" class="fa fa-arrow-down"></span>
            <div :id="workType.id">
              <p v-for="sub in workType.work_sub_types">
                {{sub.name}}
              </p>
            </div>
          </li>
        </ul>
        <div v-if="client.type === 'shop'" class="Header">Шины</div>
        <ul v-if="client.type === 'shop'">
          <li v-for="t in client.tires">{{t.name}}</li>
        </ul>
        <div v-if="client.type === 'shop'" class="Header">Масла</div>
        <ul v-if="client.type === 'shop'">
          <li v-for="o in client.oils">{{o.name}}</li>
        </ul>
        <div v-if="client.type === 'shop'" class="Header">Услуги магазина</div>
        <ul id="shops" v-if="client.type === 'shop'">
          <li><span class="fa" :class="{'fa-check': client.used === 1, 'fa-close': client.used === 0}"></span>Запчасти б/у</li>
          <li><span class="fa" :class="{'fa-check': client.non_used === 1, 'fa-close': client.non_used === 0}"></span>Запчасти новые</li>
          <li><span class="fa" :class="{'fa-check': client.by_request === 1, 'fa-close': client.by_request === 0}"></span>Запчасти под заказ</li>
          <li><span class="fa" :class="{'fa-check': client.delivery === 1, 'fa-close': client.delivery === 0}"></span>Доставка</li>
        </ul>

      </div>
    </div>
    <div class="fulldescr">
      <div class="Header">Полное описание</div>
      <p class="info">{{client.description}}</p>
    </div>
    <gmap-map
        class="map"
        :center="{ lat: client.latitude, lng: client.longitude}"
        :zoom="15"
      >
        <gmap-marker
          :position.sync="{ lat: client.latitude, lng: client.longitude}"
          :clickable="true"
          :draggable="true"
        ></gmap-marker>
      </gmap-map>
  </div>
  <div v-if="popUp" class="popUp">
    <span @click="popUp = false" class="fa fa-close"></span>
    <div v-swiper:mySwiper="popUpSwiperOption" class="popUpSlider">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="img in client.images">
            <img :src="'http://vsesto-spb.ru/storage/' + img.path" alt="">
          </div>
        </div>
      </div>
  </div>
  </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery'
export default {
  async asyncData ({ params }) {
    let response = await axios.get('http://vsesto-spb.ru/api/clients/' + params.ID)
    return { client: response.data }
  },
  data () {
    return {
      swiperOption: {
        autoplay: 3000,
        initialSlide: 1,
        loop: true,
        grabCursor: true,
        keyboardControl: true
      },
      popUpSwiperOption: {
        autoplay: 3000,
        initialSlide: 1,
        loop: true,
        grabCursor: true,
        keyboardControl: true
      },
      popUp: false,
      limit: 13,
      client: [],
      workTypes: [],
      workTypes2: [],
      center: {lat: 59.96, lng: 30.4},
      markers: [{
        position: {lat: 59.96, lng: 30.4}
      }],
      show_menu: false,
      activeType: '',
      Type: 'ВЫБЕРИТЕ ВИД РАБОТ',
      TypeSelected: false,
      popImg: ''
    }
  },
  methods: {
    ShowModels: function () {
      this.limit += 13
    },
    ShowOnMap: function () {
      $('html, body').animate({
        scrollTop: $(window).height()
      }, 1200)
    },
    getWorkSubtypes: function (item) {
      // var h = item.work_sub_types.length * 15
      $('#' + item.id).slideToggle('slow')
      $('#r' + item.id).toggleClass('open')
    }
  }
}
</script>

<style>
  .Hrating{
    display: inline-block;
    margin-left: 1%;
  }
  .popUp{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 74%;
    width: 76%;
    background-color: rgba(20,20,20,0.90);
    padding: 7% 12%;
  }
  .popUp span{
    cursor: pointer;
    display: block;
    position: absolute;
    top:13.8%;
    left: 88%;
    width:24px;
    height: 30px;
    padding: 10px 14px;
    font-size: 30px;
    color: white;
    background-color: rgb(51,153,204);
  }
  .popUp img{
    width: 100%;
  }
  .map{
    margin: 0 1%;
    width: 98%;
    height: 390px;
  }
  .Header {
    position: relative;
    padding: 11px 4%;
    font-size: 20px;
    width: 92%;
    text-align: left;
    font-weight: 600;
    background-color: rgb(37,53,89);
    color: white;
    box-shadow: 2px 2px 3px 0px rgb(220,220,220);
  }
  .popUpSlider{
    width:100%;
    height: 100%;
    overflow: hidden;
  }
  .smallSlider{
    width:31%;
    height:auto;
    overflow: hidden;
    box-shadow: 2px 2px 3px 0px rgb(220,220,220);
    max-height: 250px;
    border-radius: 2px;
  }
  .smallSlider img{
    border-radius: 2px;
    width:100%;
  }
  .InfoContainer{
    height: 245px;
    padding: 12px 4%;
    position: relative;
  }
  .InfoContainer .InfoBlock{
    position: absolute;
    top: 12px;
    left: 34%;
    padding: 25px 2%;
    background-color: white;
    width: 58%;
    height: 200px;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 0px rgb(220,220,220);
  }
  .InfoContainer .swiper-slide{
    height: 100%;
  }
  .shortInfo{
    font-size: 14px;
    color: rgb(100,100,100);
    margin-bottom: 10px;
    max-height: 60px;
    overflow: hidden;
  }
  .promotion{
    font-size: 14px;
    color: rgb(235, 53, 102);
    max-height: 35px;
    overflow: hidden;
  }
  .phones{
    margin-bottom: 10px;
  }
  .phones a{
    color: rgb(100,100,100);
    display: block;
    margin: 0;
    margin-right: 5px;
    display: inline;
    font-size: 13px;
  }
  .phones span:before{
    color: rgb(100,100,100);
  }
  .address{
    margin-bottom: 10px;
    color: rgb(100,100,100);
    font-size: 16px;
  }
  .address a{
    font-size: 13px;
    cursor: pointer;
    text-decoration: underline;
  }
  .web{
    margin-bottom: 10px;
    color: rgb(100,100,100);
    font-size: 14px;
  }
  .web a{
    font-size: 13px;
    color: inherit;
    margin-right: 10px;
  }
  .contactGroup{
    position: absolute;
    bottom: 10px;
    max-width: 45%;
  }
  .Dashboard{
    position: absolute;
    bottom: 10px;
    max-width: 45%;
    right: 0;
  }
  .workTime{
    font-size: 13px;
    color: rgb(100,100,100);
    margin-bottom: 13px;
  }
  .workTime > span{
    margin-right: 8px;
  }
  .weekendTime {
    font-size: 13px;
    color: rgb(100,100,100);
    margin-bottom: 12px;
  }
  .dot{
    margin:0 0.4%;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 10px;
    background-color: rgb(100,100,100);
    margin-bottom: -2px;
  }
  .types{
    color: rgb(100,100,100);
    font-size: 14px;
    margin-bottom: 10px;
  }
  .types > span{
    margin-right: 5px;
    font-size: 13px;
  }
  .workTypesContainer{
    background-color: white;
    width: 92%;
    margin: 5px 4%; 
    box-shadow: 2px 2px 3px 0px rgb(220,220,220);
    border-radius: 3px;
  }
  .models{
    position: relative;
  }
  .models .Header{
    display: inline-block;
  }
  .models ul{
    display: block;
    list-style: none;
    margin: 0;
    margin-left: 1%;
  }
  .models li{
    display: inline-block;
    margin-bottom: 15px;
    padding: 0 1%;
    color: rgb(100,100,100);
  }
  .models li img{
    width: 18px;
    float: left;
  }
  .models span{
    margin-left: 4px;
    color: rgb(100,100,100);
  }
  .models p{
    cursor: pointer;
    position: absolute;
    right: 4%;
    top:0px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(100,100,100);
  }
  .models p .text{
    font-size: inherit;
    color: inherit;
  }
  .models .Header, .workTypes .Header, .fulldescr .Header{
    display: inline-block;
    color: rgb(100,100,100);
    font-size: 20px;
    background: none;
    font-weight: normal;
    box-shadow: none;
  }
  .hr{
    border-bottom: 2px solid rgb(235,235,235);
  }
  .workTypes ul{
    margin:0;
    list-style: decimal;
    padding: 0 4%;
  }
  .workTypes ul li{
    width: 200px;
    vertical-align: top;
    color: rgb(100,100,100);
    cursor: pointer;
    display: inline-block;
    padding: 20px 1%;
    padding-top: 0;
  }
  .workTypes ul li span{
    font-size: 11px;
    transition:0.5s;
  }
  .open{
    transform: rotate(180deg);
    transition:0.5s;
    margin-left: -5px;
  }
  .workTypes ul li div{
    font-size: 13px;
    margin-left: 2%;
    margin-top: 3px;
    white-space: nowrap;
    display: none;
  }
  .workTypes ul li div p{
    margin: 0;
    margin-bottom: 2px;
  }
  ul#shops li span{
    font-size: 18px;
  }
  .fulldescr{
    background-color: white;
    width: 92%;
    margin: 10px 4%; 
    border-radius: 3px;
    box-shadow: 2px 2px 3px 0px rgb(220,220,220);
  }
  .fulldescr p{
    margin: 0;
    padding: 20px 4%;
    padding-top: 0; 
    font-size: 13px;
    color: rgb(150,150,150);
  }
  .rewiew{
    letter-spacing: 0;
    position: absolute;
    margin-top: 2px;
    right: 23%;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    text-transform: none;
  }
  .rewiewButton{
    letter-spacing: 0;
    position: absolute;
    padding: 5px 1%;
    right: 4%;
    bottom: 6px;
    color: white;
    font-size: 18px;
    border: 1px solid white;
    font-weight: 400;
    text-transform: none;
    border-radius: 2px;
  }
  .rewiewButton:hover{
    transition: 0.5s;
    background-color: rgba(255,255,255,0.9);
    color: rgb(37,53,89);
  }
  @media only screen and (min-width: 900px) and (max-width: 1330px){
    .InfoContainer{
      padding: 0;
      height: auto;
    }
     .InfoContainer .InfoBlock{
      top:0;
      left: 4%;
      position: absolute;
      min-height: 240px;
      width: 88%;
      margin-bottom: 20px;
    }
    .InfoContainer .smallSlider{
      position: absolute;
      left: 5%;
      top: 25px;
    }
    .InfoContainer .InfoBlock .contactGroup{
      left:37%;
    }
    .InfoContainer .InfoBlock .shortInfo,.InfoContainer .InfoBlock .promotion{
      margin-left: 37%;
      font-size: 13px;
    }
    .InfoContainer .InfoBlock .shortInfo{
      max-height: 90px;
    }
    .InfoContainer .InfoBlock .promotion{
      max-height: 60px;
    }
    .workTypesContainer{
      margin: 0 4%;
      margin-top:300px;
      width: 92%;
    }
    .Dashboard{
      right: 1.5%;
    }
    .workTime span{
      display: block;
    }
    .types span:nth-child(1){
      display: block;
    }
    .phones a:nth-child(3){
      display: block;
    }
  }
  @media only screen and (min-width: 20px) and (max-width: 900px){
    .InfoContainer{
      padding: 0;
      height: auto;
    }
    .rewiew {
      right: 30%;
    }
    .rewiewButton{
      font-size: 16px;
    }
    .InfoContainer .InfoBlock{
      top:0;
      left: 4%;
      position: absolute;
      min-height: 240px;
      width: 88%;
      margin-bottom: 20px;
    }
    .InfoContainer .smallSlider{
      position: absolute;
      left: 5%;
      top: 10px;
    }
    .InfoContainer .InfoBlock .shortInfo,.InfoContainer .InfoBlock .promotion{
      margin-left: 37%;
      font-size: 13px;
    }
    .InfoContainer .InfoBlock .shortInfo{
      max-height: 90px;
    }
    .InfoContainer .InfoBlock .promotion{
      max-height: 60px;
    }
    .workTypesContainer{
      margin: 0 4%;
      margin-top:300px;
      width: 92%;
    }
  }
  @media only screen and (min-width: 20px) and (max-width: 600px){
    .InfoContainer{
      padding: 0;
      height: auto;
    }
    .Header .rewiew{
      position: static;
      display: block;
      margin-top: 10px;
    }
    .rating {
      position: absolute;
      bottom: 45px;
      right: 2%;
    }
    .rewiewButton{
      right: 2%;
      bottom: 7px;
      font-size: 16px;
    }
    .InfoContainer .smallSlider {
      position: relative;
      top:0;
      left: 0;
      width: 100%;
      height: auto;
    }
    .InfoContainer .InfoBlock{
      position: relative;
      min-height: 320px;
      margin-bottom: 15px;
      width: 96%;
      left: 0;
    }
    .InfoContainer .InfoBlock .contactGroup{
      left: 5%;
    }
    .InfoContainer .InfoBlock .Dashboard{
      position: absolute;
      bottom: 10px;
      right: 1%;
      max-width: 150px;
    }
    .InfoContainer .InfoBlock a{
      display: block;
    }
    .InfoContainer .InfoBlock .shortInfo,.InfoContainer .InfoBlock .promotion{
      margin-left: 0%;
    }
    .InfoContainer .InfoBlock .shortInfo{
      max-height: 100px;
    }
    .InfoContainer .InfoBlock .promotion{
      max-height: 60px;
    }
    .models p{
      top:4px;
    }
    .models p .text{
      display: none;
    }
    .workTime span{
      display: block;
    }
    .workTypesContainer{
      margin: 0;
      position: static;
      width: 100%;
    }
    .models ul{
      padding: 4%;
    }
    .fulldescr{
      margin: 0;
      margin-top: 8px;
      width: 100%;
    }
    .popUp{
      display: none;
    }
  }
</style>
