<template>
  <div>
    <div class="mainPage">

      <div class="row">
        <ul class="nav">
          <li @click="Open('car')" id="car" :class="{'active': activeType === 'car'}">Легковые</li>
          <li @click="Open('lorry')"  id="lorry" :class="{'active': activeType === 'lorry'}">Грузовые</li>
          <li @click="Open('minivan')"  id="minivan" :class="{'active': activeType === 'minivan'}">Микроавтобусы</li>
          <li @click="Open('moto')"  id="moto" :class="{'active': activeType === 'moto'}">Мототранспорт</li>
          <li @click="Open('quadro')" id="quadro" :class="{'active': activeType === 'quadro'}">Квадроциклы</li>
          <li @click="Open('water')" id="water" :class="{'active': activeType === 'water'}">Водный транспорт</li>
        </ul>
        <div class="menu" v-show="show_menu">
          <div class="MContainer">
            <span class="header">{{SelectedModel}}</span>
            <hr/>
            <ul>
              <li :id="'m' + item.id" @click="SelectModel(item)" v-for="item in models"><img :src="'http://vsesto-spb.ru/storage/' + item.image_path" class="logo">{{item.name}}</li>
            </ul>
            <a @click="ResetModel()" class="Reset">Сбросить</a>
          </div>
          <div class="WContainer">
            <span class="header"><a class="fa fa-arrow-circle-left" v-if="TypeSelected" @click="ResetWorkType()"></a> {{Type}} </span> 
            <a @click="ResetWork()" class="Reset">Сбросить</a>
            <hr/>
            <ul>
              <li :id="'w' + workType.id" v-show="!TypeSelected" @click="getWorkSubtypes(workType)" v-for="workType in workTypesUL1">
                {{ workType.name }}
              </li>
              <li :id="'ws' + workType.id" @click="getSubType(workType)" v-show="TypeSelected" v-for="workType in workTypes2">
                {{ workType.name }}
              </li>
            </ul>
             <ul>
              <li :id="'w' + workType.id" v-show="!TypeSelected" @click="getWorkSubtypes(workType)" v-for="workType in workTypesUL2">
                {{ workType.name }}
              </li>
            </ul>
             <ul>
              <li :id="'w' + workType.id" v-show="!TypeSelected" @click="getWorkSubtypes(workType)" v-for="workType in workTypesUL3">
                {{ workType.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="m-row">
        <ul class="nav">
          <li @click="OpenM('car')" id="car" :class="{'active': activeType === 'car'}"><span class="fa fa-car"></span></li>
          <li @click="OpenM('lorry')"  id="lorry" :class="{'active': activeType === 'lorry'}"><span class="fa fa-truck"></span></li>
          <li @click="OpenM('minivan')"  id="minivan" :class="{'active': activeType === 'minivan'}"><span class="fa fa-bus"></span></li>
          <li @click="OpenM('moto')"  id="moto" :class="{'active': activeType === 'moto'}"><span class="fa fa-motorcycle"></span></li>
          <li @click="OpenM('quadro')" id="quadro" :class="{'active': activeType === 'quadro'}"><span class="fa fa-vk"></span></li>
          <li @click="OpenM('water')" id="water" :class="{'active': activeType === 'water'}"><span class="fa fa-ship"></span></li>
        </ul>
      </div>


      <div v-show="show_menu" 
           class="TypeHeader"
      >
           {{TypeHeader[activeType]}}
      </div>


      <div v-show="show_menu" class="m-menu" >
        <div class="m-models">
          <span class="fa fa-arrow-down"></span>
          <span class="fa fa-arrow-up"></span>
          <span @click="ResetModel()" class="reset">Сбросить</span>
          <h4 v-show="show_menu" @click="OpenUL('m-models')">{{SelectedModel}}</h4>
          <ul id="m-models">
            <li @click="SelectModel(item)" v-for="item in models"><img :src="'http://vsesto-spb.ru/storage/' + item.image_path" class="logo">{{item.name}}</li>
          </ul>
        </div>
        <div class="m-Worktypes">
          <span class="fa fa-arrow-down"></span>
          <span class="fa fa-arrow-up"></span>
          <span @click="ResetWork()" class="reset">Сбросить</span>
          <h4 v-show="show_menu" @click="OpenUL('m-Worktypes')">{{SelectedWorkType}}</h4>
          <ul id="m-Worktypes">
            <li @click="getWorkSubtypes(workType)" v-for="workType in workTypes">
                {{ workType.name }}
              </li>
          </ul>
        </div>
        <div v-if="TypeSelected" class="m-Subworktypes">
          <span class="fa fa-arrow-down"></span>
          <span class="fa fa-arrow-up"></span>
          <span @click="ResetWorkSubType()" class="reset">Сбросить</span>
          <h4 v-show="show_menu" @click="OpenUL('m-Subworktypes')">{{activeSubType}}</h4>
          <ul id="m-Subworktypes">
            <li @click="getSubType(workType)" v-for="workType in workTypes2">
                {{ workType.name }}
            </li>
          </ul>
        </div>
        <div class="m-Regions">
          <span class="fa fa-arrow-down"></span>
          <span class="fa fa-arrow-up"></span>
          <span @click="ResetRegion()" class="reset">Сбросить</span>
          <h4 v-show="show_menu" @click="OpenUL('m-Regions')">{{SelectedRegion}}</h4>
          <ul id="m-Regions">
            <li @click="SelectRegion(r)" v-for="r in regions">
              {{ r.name }}
            </li>
          </ul>
        </div>
      </div>
      <div @click="openRegions()" class="SelectRegion"> {{SelectedRegion}} <span class="fa fa-caret-down"></span>
        <ul class="RegionUL">
          <li @click="ResetRegion()">Все районы</li>
          <li :id="'r' + r.id" @click="SelectRegion(r)" v-for="r in regions">{{ r.name }}</li>
        </ul>
      </div>


      <gmap-map
        class="map"
        :center="center"
        :zoom="zoom"
      >
        <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
          <h2 style="color: rgb(51,153,204);">{{InfoTitle}}</h2>
          <a :href="InfoLink"><h4 style="display: inline-block">Перейти на страницу </h4><span style="margin-left: 5px" class="fa fa-arrow-right"> </span></a>
        </gmap-info-window>
        <gmap-marker
          :key="i"
          v-for="m in map"
          :position.sync="{lat: +(m.latitude), lng: +(m.longitude)}"
          :clickable="true"
          @click="toggleInfoWindow(m,i)"
        ></gmap-marker>
      </gmap-map>
    </div>


    <div @mouseover="Close()" class="STOlistheader">{{ activeWorkType}} для {{ activeModel }}</div>

    
    <div class="MainBlock">
      <template v-if="loading">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </template>
      <template v-else>
        <div @mouseover="Close()" class="STOlist">
          <sto-list :data="vip1" :vip="true"></sto-list>
          <sto-list :data="sto1" :vip="false"></sto-list>
        </div>

        <div  class="BannerList">
          <img v-for="n in 3" src="../assets/img/4.jpg" alt="">
        </div>


        <div @mouseover="Close()" class="STOlist">
          <sto-list :data="vip2" :vip="true"></sto-list>
          <sto-list :data="sto2" :vip="false"></sto-list>
        </div>

        <div  class="BannerList">
          <img v-for="n in 3" src="../assets/img/4.jpg" alt="">
        </div>

        <div @mouseover="Close()" class="STOlist">
          <sto-list :data="vip3" :vip="true"></sto-list>
          <sto-list :data="sto3" :vip="false"></sto-list>
        </div>

        <div  class="BannerList">
          <img v-for="n in 3" src="../assets/img/4.jpg" alt="">
        </div>

        <div @mouseover="Close()" class="STOlist">
          <sto-list :data="vip4" :vip="true"></sto-list>
          <sto-list :data="sto4" :vip="false"></sto-list>
        </div>
      </template>

      <div class="pagination">
        <span @click="prevPage()" class="fa fa-arrow-circle-left"></span>
        <span @click="page = n" v-for="n in pageNumber" class="pagination" :class="{'activepage': n == page}">{{n}}</span>
        <span @click="nextPage()" class="fa fa-arrow-circle-right"></span>
      </div>
    </div>


    <div v-show="!show_menu" class="m-MainBlock">
      <div @mouseover="Close()" class="STOlist">
        <div class="VIPlist">
          <div v-for="item in vip1m" class="item">
            <nuxt-link class="review" :to="'/review/' + item.id">Отзывы ({{item.reviews_count}})</nuxt-link>
            <nuxt-link :to="'/' + item.id"><h4>{{item.name}}</h4>
            <img src="../assets/img/VIP.png" class="fon" alt="">
            <img src="../assets/img/angle.png" alt="">
            <div class="rating">
              <span class="fa fa-star"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 2, 'fa-star-o': item.rating <= 1, 'fa-star-half-o': ((item.rating < 2) && (item.rating > 1))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 3, 'fa-star-o': item.rating <= 2, 'fa-star-half-o': ((item.rating < 3) && (item.rating > 2))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 4, 'fa-star-o': item.rating <= 3, 'fa-star-half-o': ((item.rating < 4) && (item.rating > 3))}"></span>
              <span class="fa" :class="{'fa-star': item.rating == 5, 'fa-star-o': item.rating <= 4, 'fa-star-half-o': ((item.rating < 5) && (item.rating > 4))}"></span>
            </div>
            <div :mytitle="item.work_time" class="shedule">
              <span v-for="day in item.work_days" class="fa" :class="{'fa-circle': day.type === 'full', 'fa-dot-circle-o': day.type === 'half','fa-circle-o': day.type === 'weekend'}"></span>
            </div>
            <p>{{item.short_description}}</p>
            <p class="promotion">{{item.sales}}</p></nuxt-link>
            <div class="line"></div>
            <div class="telgrop">
              <span class="fa fa-phone"></span>
              <a v-for="tel in item.phones" :href="'tel:' + tel.number" class="tel">{{tel.number}}</a>
            </div>
            <div class="adressgroup">
              <span class="fa fa-map-marker"></span>
              <a mytitle="Показать на карте">{{item.address}}</a>
            </div>
          </div>



          <div  class="BannerList">
            <img v-for="n in 3" src="../assets/img/4.jpg" alt="">
          </div>


          <div v-for="item in vip2m" class="item">
            <nuxt-link class="review" :to="'/review/' + item.id">Отзывы ({{item.reviews_count}})</nuxt-link>
            <nuxt-link :to="'/' + item.id"><h4>{{item.name}}</h4>
            <img src="../assets/img/VIP.png" class="fon" alt="">
            <img src="../assets/img/angle.png" alt="">
            <div class="rating">
              <span class="fa fa-star"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 2, 'fa-star-o': item.rating <= 1, 'fa-star-half-o': ((item.rating < 2) && (item.rating > 1))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 3, 'fa-star-o': item.rating <= 2, 'fa-star-half-o': ((item.rating < 3) && (item.rating > 2))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 4, 'fa-star-o': item.rating <= 3, 'fa-star-half-o': ((item.rating < 4) && (item.rating > 3))}"></span>
              <span class="fa" :class="{'fa-star': item.rating == 5, 'fa-star-o': item.rating <= 4, 'fa-star-half-o': ((item.rating < 5) && (item.rating > 4))}"></span>
            </div>
            <div :mytitle="item.work_time" class="shedule">
              <span v-for="day in item.work_days" class="fa" :class="{'fa-circle': day.type === 'full', 'fa-dot-circle-o': day.type === 'half','fa-circle-o': day.type === 'weekend'}"></span>
            </div>
            <p>{{item.short_description}}</p>
            <p class="promotion">{{item.sales}}</p></nuxt-link>
            <div class="line"></div>
            <div class="telgrop">
              <span class="fa fa-phone"></span>
              <a v-for="tel in item.phones" :href="'tel:' + tel.number" class="tel">{{tel.number}}</a>
            </div>
            <div class="adressgroup">
              <span class="fa fa-map-marker"></span>
              <a mytitle="Показать на карте">{{item.address}}</a>
            </div>
          </div>
        </div>



        <div  class="BannerList">
          <img v-for="n in 3" src="../assets/img/4.jpg" alt="">
        </div>



        <div class="list">
          <div v-for="item in sto1m" class="item">
            <nuxt-link class="review" :to="'/review/' + item.id">Отзывы ({{item.reviews_count}})</nuxt-link>
            <nuxt-link :to="'/' + item.id"><h4>{{item.name}}</h4>
            <div class="rating">
              <span class="fa fa-star"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 2, 'fa-star-o': item.rating <= 1, 'fa-star-half-o': ((item.rating < 2) && (item.rating > 1))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 3, 'fa-star-o': item.rating <= 2, 'fa-star-half-o': ((item.rating < 3) && (item.rating > 2))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 4, 'fa-star-o': item.rating <= 3, 'fa-star-half-o': ((item.rating < 4) && (item.rating > 3))}"></span>
              <span class="fa" :class="{'fa-star': item.rating == 5, 'fa-star-o': item.rating <= 4, 'fa-star-half-o': ((item.rating < 5) && (item.rating > 4))}"></span>
            </div>
            <div :mytitle="item.work_time" class="shedule">
              <span v-for="day in item.work_days" class="fa" :class="{'fa-circle': day.type === 'full', 'fa-dot-circle-o': day.type === 'half','fa-circle-o': day.type === 'weekend'}"></span>
            </div>
            <p>{{item.short_description}}</p>
            <p class="promotion">{{item.sales}}</p></nuxt-link>
            <div class="line"></div>
            <div class="telgrop">
              <span class="fa fa-phone"></span>
              <a v-for="tel in item.phones" :href="'tel:' + tel.number" class="tel">{{tel.number}}</a>
            </div>
            <div class="adressgroup">
              <span class="fa fa-map-marker"></span>
              <a mytitle="Показать на карте">{{item.address}}</a>
            </div>
          </div>



          <div  class="BannerList">
            <img v-for="n in 3" src="../assets/img/4.jpg" alt="">
          </div>



          <div v-for="item in sto2m" class="item">
            <nuxt-link class="review" :to="'/review/' + item.id">Отзывы ({{item.reviews_count}})</nuxt-link>
            <nuxt-link :to="'/' + item.id"><h4>{{item.name}}</h4>
            <div class="rating">
              <span class="fa fa-star"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 2, 'fa-star-o': item.rating <= 1, 'fa-star-half-o': ((item.rating < 2) && (item.rating > 1))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 3, 'fa-star-o': item.rating <= 2, 'fa-star-half-o': ((item.rating < 3) && (item.rating > 2))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 4, 'fa-star-o': item.rating <= 3, 'fa-star-half-o': ((item.rating < 4) && (item.rating > 3))}"></span>
              <span class="fa" :class="{'fa-star': item.rating == 5, 'fa-star-o': item.rating <= 4, 'fa-star-half-o': ((item.rating < 5) && (item.rating > 4))}"></span>
            </div>
            <div :mytitle="item.work_time" class="shedule">
              <span v-for="day in item.work_days" class="fa" :class="{'fa-circle': day.type === 'full', 'fa-dot-circle-o': day.type === 'half','fa-circle-o': day.type === 'weekend'}"></span>
            </div>
            <p>{{item.short_description}}</p>
            <p class="promotion">{{item.sales}}</p></nuxt-link>
            <div class="line"></div>
            <div class="telgrop">
              <span class="fa fa-phone"></span>
              <a v-for="tel in item.phones" :href="'tel:' + tel.number" class="tel">{{tel.number}}</a>
            </div>
            <div class="adressgroup">
              <span class="fa fa-map-marker"></span>
              <a mytitle="Показать на карте">{{item.address}}</a>
            </div>
          </div>
        </div>
      </div>


      <div class="pagination">
        <span @click="prevPage()" class="fa fa-arrow-circle-left"></span>
        <span class="pagination">{{page}}</span>
        <span @click="nextPage()" class="fa fa-arrow-circle-right"></span>
      </div>

    </div>



    <div v-show="!show_menu" class="footerinfo">
      <div class="title">О НАС</div>
      <p class="info">vsesto-spb.ru - это каталог СТО и официальных автосервисов в Санкт-Петербурге. На нашем сайте Вы сможете легко и просто подобрать наиболее подходящий автосервис, исходя из личных предпочтений. Здесь Вам предоставят целый спектр услуг, включающих диагностику автомобилей, проведение профилактических работ, ремонт машин, замену масел и многое другое. 
      Вы ищите где отремонтировать автомобиль в Санкт-Петербурге? Мы предлагаем ознакомиться с огромным перечнем СТО на нашем сайте. Благодаря удобному интерфейсу сайта, Вы легко и просто сможете отфильтровать наиболее подходящие Вам варианты. У нас Вы сможете выбрать СТО по типу транспорта, по марке автомобиля или мото-техники, по специфике проведения работ, по положительным отзывам клиентов, по месторасположению с помощью карты. 
      Надеемся, что наш портал угодит каждому, даже самому требовательному посетителю. Если Вы остались довольны или разочаровались в качестве работы на выбранном СТО, напишите отзыв на сайте. По всем вопросам сотрудничества, рекламы, предложений пишите на нашу почту vsesto-spb@mail.ru и мы ответим Вам в кратчайшие сроки. Так же, для удобства обсуждения вопросов и предложений, мы есть в ВКонтакте, instagram, facebook.
      </p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery'
import stoList from '~components/stoList.vue'
export default {
  data () {
    return {
      loading: false,
      SelectedWorkType: 'Выберите вид работ',
      activeWorkType: 'Все виды работ',
      activeModel: 'Всех марок',
      SelectedModel: 'Выберите марку',
      SelectedRegion: 'Выберите район',
      workTypes: [],
      workTypes2: [],
      sto: [],
      models: [],
      regions: [],
      vip: [],
      banners: [],
      pageNumber: 1,
      center: {lat: 59.96, lng: 30.4},
      zoom: 10,
      InfoTitle: '',
      InfoLink: '',
      markers: [{
        position: {lat: 59.96, lng: 30.4}
      }],
      infoWindowPos: {
        lat: 0,
        lng: 0
      },
      infoWinOpen: false,
      currentMidx: null,
      // optional: offset infowindow so it visually sits nicely on top of our marker
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
      show_menu: false,
      activeType: '',
      Type: 'ВЫБЕРИТЕ ВИД РАБОТ',
      TypeSelected: false,
      activeSubType: 'Выберите вид подработ',
      TypeHeader: {
        'car': 'Легковые',
        'lorry': 'Грузовые',
        'minivan': 'Микроавтобусы',
        'moto': 'Мототранспорт',
        'quadro': 'Квадроциклы',
        'water': 'Водный транспорт'
      },
      page: 1,
      filter: {
        'type': 'service',
        'car_model': null,
        'work_type': null,
        'work_sub_type': null,
        'region': null,
        'transport_type': null
      }
    }
  },
  components: {
    stoList
  },
  mounted: async function () {
    for (let param in this.filter) {
      if (this.$route.query[param]) {
        this.filter[param] = this.$route.query[param]
      }
    }
    if (this.$route.query.car_model) {
      for (var m = 0; m < this.models.length; m++) {
        if (this.models[m].id === +(this.$route.query.car_model)) {
          this.SelectModel(this.models[m])
        }
      }
    }
    if (this.$route.query.region) {
      for (var j = 0; j < this.regions.length; j++) {
        if (this.regions[j].id === +(this.$route.query.region)) {
          this.SelectedRegion = this.regions[j].name
        }
      }
    }
    if (this.$route.query.work_type) {
      for (var w = 0; w < this.workTypes.length; w++) {
        if (this.workTypes[w].id === +(this.$route.query.work_type)) {
          this.getWorkSubtypes(this.workTypes[w])
        }
      }
      if (this.$route.query.work_sub_type) {
        for (var i = 0; i < this.workTypes2.length; i++) {
          if (this.workTypes2[i].id === +(this.$route.query.work_sub_type)) {
            this.Type = this.workTypes2[i].name
            this.activeSubType = this.workTypes2[i].name
            this.activeWorkType = this.workTypes2[i].name
          }
        }
      }
    }
  },
  async asyncData ({ query }) {
    let [ response, response2, response3, response4, response5, response6, response7 ] = await Promise.all([
      axios.get('http://vsesto-spb.ru/api/work-types'),
      axios.get('http://vsesto-spb.ru/api/clients?type=service', { params: query }),
      axios.get('http://vsesto-spb.ru/api/car-models'),
      axios.get('http://vsesto-spb.ru/api/regions'),
      axios.get('http://vsesto-spb.ru/api/banners'),
      axios.get('http://vsesto-spb.ru/api/clients/map'),
      axios.get('http://vsesto-spb.ru/api/clients/vip?type=service', { params: query })
    ])
    return {
      pageNumber: response2.data.last_page,
      sto: response2.data.data,
      workTypes: response.data,
      models: response3.data,
      regions: response4.data,
      banners: response5.data,
      map: response6.data,
      vip: response7.data
    }
  },
  watch: {
    activeWorkType: function () {
      this.fetchClients(this.sto)
    },
    activeModel: function () {
      this.fetchClients(this.sto)
    },
    SelectedRegion: function () {
      this.fetchClients(this.sto)
    },
    activeType: function () {
      this.fetchClients(this.sto)
    },
    '$route.query': async function () {
      let resp = await this.getClients()
      this.pageNumber = resp.last_page
      this.sto = resp.data
      let resp2 = await this.getVipClients()
      this.vip = resp2.data
    },
    page: async function () {
      $('html, body').animate({
        scrollTop: 200
      }, 0)
      let resp = await this.getClients()
      this.sto = resp.data
    }
  },
  computed: {
    workTypesUL1: function () {
      return this.workTypes.slice(0, 14)
    },
    workTypesUL2: function () {
      return this.workTypes.slice(14, 28)
    },
    workTypesUL3: function () {
      return this.workTypes.slice(28, 42)
    },
    sto1: function () {
      if (this.sto.length > 0) {
        return this.sto.slice(0, 2)
      }
    },
    sto2: function () {
      if (this.sto.length > 2) {
        return this.sto.slice(2, 4)
      }
    },
    sto3: function () {
      if (this.sto.length > 4) {
        return this.sto.slice(4, 6)
      }
    },
    sto4: function () {
      if (this.sto.length > 6) {
        return this.sto.slice(6, 8)
      }
    },
    vip1: function () {
      return this.vip.slice(0, 2)
    },
    vip2: function () {
      return this.vip.slice(2, 4)
    },
    vip3: function () {
      return this.vip.slice(4, 6)
    },
    vip4: function () {
      return this.vip.slice(6, 8)
    },
    sto1m: function () {
      return this.sto.slice(0, 4)
    },
    sto2m: function () {
      return this.sto.slice(4, 8)
    },
    vip1m: function () {
      return this.vip.slice(0, 4)
    },
    vip2m: function () {
      return this.vip.slice(4, 8)
    }
  },
  methods: {
    toggleInfoWindow: function (marker, idx) {
      this.infoWindowPos = {lat: +(marker.latitude), lng: +(marker.longitude)}
      this.InfoTitle = marker.name
      this.InfoLink = '/' + marker.id
      // check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen
      } else {
        this.infoWinOpen = true
        this.currentMidx = idx
      }
    },
    OpenM: function (type) {
      this.show_menu = true
      this.activeType = type
      this.filter['transport_type'] = type
    },
    Open: function (type) {
      this.show_menu = true
      this.activeType = type
      this.filter['transport_type'] = type
    },
    openRegions: function () {
      $('.RegionUL').slideToggle('slow')
    },
    Close: function () {
      this.show_menu = false
    },
    OpenUL: function (id) {
      $('.' + id).toggleClass('open')
      $('#' + id).slideToggle('slow')
    },
    SelectModel: function (model) {
      this.activeModel = model.name
      this.SelectedModel = model.name
      this.filter['car_model'] = model.id
    },
    ResetModel: function () {
      this.activeModel = 'Всех марок'
      this.SelectedModel = 'Выберите марку'
      this.filter['car_model'] = null
    },
    getWorkSubtypes: function (item) {
      this.filter['work_type'] = item.id
      this.TypeSelected = true
      this.Type = item.name
      this.SelectedWorkType = item.name
      this.activeWorkType = item.name
      this.workTypes2 = item.work_sub_types
    },
    getSubType: function (item) {
      this.filter['work_sub_type'] = item.id
      this.Type = item.name
      this.activeSubType = item.name
      this.activeWorkType = item.name
      this.Close()
    },
    ResetWorkType: function () {
      this.filter['work_type'] = null
      this.filter['work_sub_type'] = null
      this.activeWorkType = 'Все виды работ'
      this.TypeSelected = false
      this.Type = 'ВЫБЕРИТЕ ВИД РАБОТ'
      this.SelectedWorkType = 'Выберите вид работ'
    },
    ResetWorkSubType: function () {
      this.filter['work_sub_type'] = null
      this.activeSubType = 'Выберите вид подработ'
      this.activeWorkType = this.SelectedWorkType
    },
    ResetWork: function () {
      this.filter['work_type'] = null
      this.filter['work_sub_type'] = null
      this.activeWorkType = 'Все виды работ'
      this.TypeSelected = false
      this.Type = 'ВЫБЕРИТЕ ВИД РАБОТ'
      this.SelectedWorkType = 'Выберите вид работ'
      this.activeSubType = 'Выберите вид подработ'
    },
    SelectRegion: function (region) {
      this.SelectedRegion = region.name
      this.filter['region'] = region.id
    },
    ResetRegion: function (argument) {
      this.SelectedRegion = 'Выберите район'
      this.filter['region'] = null
    },
    getClients: async function (sto) {
      let page = this.page
      let params = this.$route.query
      this.loading = true
      let response = await axios.get('http://vsesto-spb.ru/api/clients?page=' + page, { params })
      this.loading = false
      return response.data
    },
    getVipClients: function (sto) {
      let params = this.$route.query
      return axios.get('http://vsesto-spb.ru/api/clients/vip', { params }).then(response => response.data)
    },
    fetchClients: function (sto, calback) {
      let params = {
      }
      for (let param in this.filter) {
        if (this.filter[param]) {
          params[param] = this.filter[param]
        }
      }
      this.$router.push({
        name: this.$route.name,
        query: params
      })
    },
    prevPage: function () {
      if (this.page > 1) {
        this.page--
      }
    },
    nextPage: function () {
      if (this.page < this.pageNumber) {
        this.page++
      }
    }
  }
}
</script>
<style src="../assets/css/mainpage.css"></style>
<style src="../assets/css/tabletmainpage.css"></style>
<style src="../assets/css/mobilemainpage.css"></style>
