<template>
  <div class="mainPage">
    <div @mouseover="Close()" class="STOlistheader">Магазины для {{ activeModel }}</div>
    <div class="filterrow">Подберите нужный магазин:
      <div @click="openModels()" class="Select"> {{SelectedModel}} <span class="fa fa-caret-down"></span>
        <ul id="models" class="RegionUL">
          <li @click="ResetModel()">Все марки</li>
          <li @click="SelectModel(m)" v-for="m in models">{{ m.name }}</li>
        </ul>
      </div>
      <div class="Select" @click="openRegions()"> {{SelectedRegion}} <span class="fa fa-caret-down"></span>
        <ul id="regions" class="RegionUL">
          <li @click="ResetRegion()">Все районы</li>
          <li @click="SelectRegion(n)" v-for="n in regions">{{ n.name }}</li>
        </ul>
      </div>
      <div id="d" class="Select" @click="openDetails()"> {{DetailsTypes[details]}} <span class="fa fa-caret-down"></span>
        <ul id="details" class="RegionUL">
          <li @click="details = 'all'">Любые детали</li>
          <li @click="details = 'non_used'">Новые детали</li>
          <li @click="details = 'used'">Б/у детали</li>
          <li @click="details = 'by_request'">Детали под заказ</li>
        </ul>
      </div>
      <span v-if="delivery === 2" @click="delivery = 1" class="Select">Доставка: Все</span>
      <span v-if="delivery === 1" @click="delivery = 0" class="Select">Доставка: Да</span>
      <span v-if="delivery === 0" @click="delivery = 2" class="Select">Доставка: Нет</span>
    </div>
    <div class="MainBlock">
      <div @mouseover="Close()" class="STOlist">
        <div class="list">
          <div v-for="item in sto1" class="item">
            <nuxt-link class="review" :to="'/review/' + item.id">Отзывы (7)</nuxt-link>
            <nuxt-link :to="'/' + item.id"><h4>{{item.name}}</h4>
            <div class="rating">
              <span class="fa fa-star"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 2, 'fa-star-o': item.rating <= 1, 'fa-star-half-o': ((item.rating < 2) && (item.rating > 1))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 3, 'fa-star-o': item.rating <= 2, 'fa-star-half-o': ((item.rating < 3) && (item.rating > 2))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 4, 'fa-star-o': item.rating <= 3, 'fa-star-half-o': ((item.rating < 4) && (item.rating > 3))}"></span>
              <span class="fa" :class="{'fa-star': item.rating == 5, 'fa-star-o': item.rating <= 4, 'fa-star-half-o': ((item.rating < 5) && (item.rating > 4))}"></span>
            </div>
            <div :mytitle="item.work_time" class="shedule">
              <span v-for="day in item.work_days" class="fa" :class="{'fa-circle': day.type === 'full', 'fa-dot-circle-o': day.type === 'half','fa-circle-o': day.type === 'weekend'}"></span>
            </div>
            <p>{{item.short_description}}</p>
            <p class="promotion">{{item.sales}}</p></nuxt-link>
            <div class="line"></div>
            <div class="telgrop">
              <span class="fa fa-phone"></span>
              <a v-for="tel in item.phones" :href="'tel:' + tel.number" class="tel">{{tel.number}}</a>
            </div>
            <div class="adressgroup">
              <span class="fa fa-map-marker"></span>
              <a mytitle="Показать на карте" @click="show_on_map(item)">{{item.address}}</a>
            </div>
          </div>
        </div>
      </div>
      <div  class="BannerList">
        <img v-for="n in 3" src="../assets/img/4.jpg" alt="">
      </div>
      <div @mouseover="Close()" class="STOlist">
        <div class="list">
          <div v-for="item in sto2" class="item">
            <nuxt-link class="review" :to="'/review/' + item.id">Отзывы (7)</nuxt-link>
            <nuxt-link :to="'/' + item.id"><h4>{{item.name}}</h4>
            <div class="rating">
              <span class="fa fa-star"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 2, 'fa-star-o': item.rating <= 1, 'fa-star-half-o': ((item.rating < 2) && (item.rating > 1))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 3, 'fa-star-o': item.rating <= 2, 'fa-star-half-o': ((item.rating < 3) && (item.rating > 2))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 4, 'fa-star-o': item.rating <= 3, 'fa-star-half-o': ((item.rating < 4) && (item.rating > 3))}"></span>
              <span class="fa" :class="{'fa-star': item.rating == 5, 'fa-star-o': item.rating <= 4, 'fa-star-half-o': ((item.rating < 5) && (item.rating > 4))}"></span>
            </div>
            <div :mytitle="item.work_time" class="shedule">
              <span v-for="day in item.work_days" class="fa" :class="{'fa-circle': day.type === 'full', 'fa-dot-circle-o': day.type === 'half','fa-circle-o': day.type === 'weekend'}"></span>
            </div>
            <p>{{item.short_description}}</p>
            <p class="promotion">{{item.sales}}</p></nuxt-link>
            <div class="line"></div>
            <div class="telgrop">
              <span class="fa fa-phone"></span>
              <a v-for="tel in item.phones" :href="'tel:' + tel.number" class="tel">{{tel.number}}</a>
            </div>
            <div class="adressgroup">
              <span class="fa fa-map-marker"></span>
              <a mytitle="Показать на карте" @click="show_on_map(item)">{{item.address}}</a>
            </div>
          </div>
        </div>
      </div>
       <div  class="BannerList">
        <img v-for="n in 3" src="../assets/img/4.jpg" alt="">
      </div>
      <div @mouseover="Close()" class="STOlist">
        <div class="list">
          <div v-for="item in sto3" class="item">
            <nuxt-link class="review" :to="'/review/' + item.id">Отзывы (7)</nuxt-link>
            <nuxt-link :to="'/' + item.id"><h4>{{item.name}}</h4>
            <div class="rating">
              <span class="fa fa-star"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 2, 'fa-star-o': item.rating <= 1, 'fa-star-half-o': ((item.rating < 2) && (item.rating > 1))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 3, 'fa-star-o': item.rating <= 2, 'fa-star-half-o': ((item.rating < 3) && (item.rating > 2))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 4, 'fa-star-o': item.rating <= 3, 'fa-star-half-o': ((item.rating < 4) && (item.rating > 3))}"></span>
              <span class="fa" :class="{'fa-star': item.rating == 5, 'fa-star-o': item.rating <= 4, 'fa-star-half-o': ((item.rating < 5) && (item.rating > 4))}"></span>
            </div>
            <div :mytitle="item.work_time" class="shedule">
              <span v-for="day in item.work_days" class="fa" :class="{'fa-circle': day.type === 'full', 'fa-dot-circle-o': day.type === 'half','fa-circle-o': day.type === 'weekend'}"></span>
            </div>
            <p>{{item.short_description}}</p>
            <p class="promotion">{{item.sales}}</p></nuxt-link>
            <div class="line"></div>
            <div class="telgrop">
              <span class="fa fa-phone"></span>
              <a v-for="tel in item.phones" :href="'tel:' + tel.number" class="tel">{{tel.number}}</a>
            </div>
            <div class="adressgroup">
              <span class="fa fa-map-marker"></span>
              <a mytitle="Показать на карте" @click="show_on_map(item)">{{item.address}}</a>
            </div>
          </div>
        </div>
      </div>
       <div  class="BannerList">
        <img v-for="n in 3" src="../assets/img/4.jpg" alt="">
      </div>
      <div @mouseover="Close()" class="STOlist">
        <div v-for="item in sto4" class="item">
            <nuxt-link class="review" :to="'/review/' + item.id">Отзывы (7)</nuxt-link>
            <nuxt-link :to="'/' + item.id"><h4>{{item.name}}</h4>
            <div class="rating">
              <span class="fa fa-star"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 2, 'fa-star-o': item.rating <= 1, 'fa-star-half-o': ((item.rating < 2) && (item.rating > 1))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 3, 'fa-star-o': item.rating <= 2, 'fa-star-half-o': ((item.rating < 3) && (item.rating > 2))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 4, 'fa-star-o': item.rating <= 3, 'fa-star-half-o': ((item.rating < 4) && (item.rating > 3))}"></span>
              <span class="fa" :class="{'fa-star': item.rating == 5, 'fa-star-o': item.rating <= 4, 'fa-star-half-o': ((item.rating < 5) && (item.rating > 4))}"></span>
            </div>
            <div :mytitle="item.work_time" class="shedule">
              <span v-for="day in item.work_days" class="fa" :class="{'fa-circle': day.type === 'full', 'fa-dot-circle-o': day.type === 'half','fa-circle-o': day.type === 'weekend'}"></span>
            </div>
            <p>{{item.short_description}}</p>
            <p class="promotion">{{item.sales}}</p></nuxt-link>
            <div class="line"></div>
            <div class="telgrop">
              <span class="fa fa-phone"></span>
              <a v-for="tel in item.phones" :href="'tel:' + tel.number" class="tel">{{tel.number}}</a>
            </div>
            <div class="adressgroup">
              <span class="fa fa-map-marker"></span>
              <a mytitle="Показать на карте" @click="show_on_map(item)">{{item.address}}</a>
            </div>
          </div>
      </div>
      <div class="pagination">
        <span @click="prevPage()" class="fa fa-arrow-circle-left"></span>
        <span @click="page = n" v-for="n in pages" class="pagination" :class="{'activepage': n == page}">{{n}}</span>
        <span @click="nextPage()"class="fa fa-arrow-circle-right"></span>
      </div>
    </div>
    <div class="m-MainBlock">
      <div class="STOlist">
        <div class="list">
          <div v-for="item in sto1" class="item">
            <nuxt-link class="review" :to="'/review/' + item.id">Отзывы (7)</nuxt-link>
            <nuxt-link :to="'/' + item.id"><h4>{{item.name}}</h4>
            <div class="rating">
              <span class="fa fa-star"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 2, 'fa-star-o': item.rating <= 1, 'fa-star-half-o': ((item.rating < 2) && (item.rating > 1))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 3, 'fa-star-o': item.rating <= 2, 'fa-star-half-o': ((item.rating < 3) && (item.rating > 2))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 4, 'fa-star-o': item.rating <= 3, 'fa-star-half-o': ((item.rating < 4) && (item.rating > 3))}"></span>
              <span class="fa" :class="{'fa-star': item.rating == 5, 'fa-star-o': item.rating <= 4, 'fa-star-half-o': ((item.rating < 5) && (item.rating > 4))}"></span>
            </div>
            <div :mytitle="item.work_time" class="shedule">
              <span v-for="day in item.work_days" class="fa" :class="{'fa-circle': day.type === 'full', 'fa-dot-circle-o': day.type === 'half','fa-circle-o': day.type === 'weekend'}"></span>
            </div>
            <p>{{item.short_description}}</p>
            <p class="promotion">{{item.sales}}</p></nuxt-link>
            <div class="line"></div>
            <div class="telgrop">
              <span class="fa fa-phone"></span>
              <a v-for="tel in item.phones" :href="'tel:' + tel.number" class="tel">{{tel.number}}</a>
            </div>
            <div class="adressgroup">
              <span class="fa fa-map-marker"></span>
              <a mytitle="Показать на карте" @click="show_on_map(item)">{{item.address}}</a>
            </div>
          </div>
          <div  class="BannerList">
            <img v-for="n in 3" src="../assets/img/4.jpg" alt="">
          </div>
          <div v-for="item in sto2" class="item">
            <nuxt-link class="review" :to="'/review/' + item.id">Отзывы (7)</nuxt-link>
            <nuxt-link :to="'/' + item.id"><h4>{{item.name}}</h4>
            <div class="rating">
              <span class="fa fa-star"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 2, 'fa-star-o': item.rating <= 1, 'fa-star-half-o': ((item.rating < 2) && (item.rating > 1))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 3, 'fa-star-o': item.rating <= 2, 'fa-star-half-o': ((item.rating < 3) && (item.rating > 2))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 4, 'fa-star-o': item.rating <= 3, 'fa-star-half-o': ((item.rating < 4) && (item.rating > 3))}"></span>
              <span class="fa" :class="{'fa-star': item.rating == 5, 'fa-star-o': item.rating <= 4, 'fa-star-half-o': ((item.rating < 5) && (item.rating > 4))}"></span>
            </div>
            <div :mytitle="item.work_time" class="shedule">
              <span v-for="day in item.work_days" class="fa" :class="{'fa-circle': day.type === 'full', 'fa-dot-circle-o': day.type === 'half','fa-circle-o': day.type === 'weekend'}"></span>
            </div>
            <p>{{item.short_description}}</p>
            <p class="promotion">{{item.sales}}</p></nuxt-link>
            <div class="line"></div>
            <div class="telgrop">
              <span class="fa fa-phone"></span>
              <a v-for="tel in item.phones" :href="'tel:' + tel.number" class="tel">{{tel.number}}</a>
            </div>
            <div class="adressgroup">
              <span class="fa fa-map-marker"></span>
              <a mytitle="Показать на карте" @click="show_on_map(item)">{{item.address}}</a>
            </div>
          </div>
        </div>
        <div  class="BannerList">
          <img v-for="n in 3" src="../assets/img/4.jpg" alt="">
        </div>
        <div class="list">
          <div v-for="item in sto3" class="item">
            <nuxt-link class="review" :to="'/review/' + item.id">Отзывы (7)</nuxt-link>
            <nuxt-link :to="'/' + item.id"><h4>{{item.name}}</h4>
            <div class="rating">
              <span class="fa fa-star"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 2, 'fa-star-o': item.rating <= 1, 'fa-star-half-o': ((item.rating < 2) && (item.rating > 1))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 3, 'fa-star-o': item.rating <= 2, 'fa-star-half-o': ((item.rating < 3) && (item.rating > 2))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 4, 'fa-star-o': item.rating <= 3, 'fa-star-half-o': ((item.rating < 4) && (item.rating > 3))}"></span>
              <span class="fa" :class="{'fa-star': item.rating == 5, 'fa-star-o': item.rating <= 4, 'fa-star-half-o': ((item.rating < 5) && (item.rating > 4))}"></span>
            </div>
            <div :mytitle="item.work_time" class="shedule">
              <span v-for="day in item.work_days" class="fa" :class="{'fa-circle': day.type === 'full', 'fa-dot-circle-o': day.type === 'half','fa-circle-o': day.type === 'weekend'}"></span>
            </div>
            <p>{{item.short_description}}</p>
            <p class="promotion">{{item.sales}}</p></nuxt-link>
            <div class="line"></div>
            <div class="telgrop">
              <span class="fa fa-phone"></span>
              <a v-for="tel in item.phones" :href="'tel:' + tel.number" class="tel">{{tel.number}}</a>
            </div>
            <div class="adressgroup">
              <span class="fa fa-map-marker"></span>
              <a mytitle="Показать на карте" @click="show_on_map(item)">{{item.address}}</a>
            </div>
          </div>
          <div  class="BannerList">
            <img v-for="n in 3" src="../assets/img/4.jpg" alt="">
          </div>
          <div v-for="item in sto4" class="item">
            <nuxt-link class="review" :to="'/review/' + item.id">Отзывы (7)</nuxt-link>
            <nuxt-link :to="'/' + item.id"><h4>{{item.name}}</h4>
            <div class="rating">
              <span class="fa fa-star"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 2, 'fa-star-o': item.rating <= 1, 'fa-star-half-o': ((item.rating < 2) && (item.rating > 1))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 3, 'fa-star-o': item.rating <= 2, 'fa-star-half-o': ((item.rating < 3) && (item.rating > 2))}"></span>
              <span class="fa" :class="{'fa-star': item.rating >= 4, 'fa-star-o': item.rating <= 3, 'fa-star-half-o': ((item.rating < 4) && (item.rating > 3))}"></span>
              <span class="fa" :class="{'fa-star': item.rating == 5, 'fa-star-o': item.rating <= 4, 'fa-star-half-o': ((item.rating < 5) && (item.rating > 4))}"></span>
            </div>
            <div :mytitle="item.work_time" class="shedule">
              <span v-for="day in item.work_days" class="fa" :class="{'fa-circle': day.type === 'full', 'fa-dot-circle-o': day.type === 'half','fa-circle-o': day.type === 'weekend'}"></span>
            </div>
            <p>{{item.short_description}}</p>
            <p class="promotion">{{item.sales}}</p></nuxt-link>
            <div class="line"></div>
            <div class="telgrop">
              <span class="fa fa-phone"></span>
              <a v-for="tel in item.phones" :href="'tel:' + tel.number" class="tel">{{tel.number}}</a>
            </div>
            <div class="adressgroup">
              <span class="fa fa-map-marker"></span>
              <a mytitle="Показать на карте" @click="show_on_map(item)">{{item.address}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination">
        <span class="fa fa-arrow-circle-left"></span>
        <span v-for="n in 10" class="pagination">{{n}}</span>
        <span class="fa fa-arrow-circle-right"></span>
      </div>
    </div>
    <gmap-map
        class="map"
        :center="center"
        :zoom="zoom"
      >
        <gmap-marker
          v-for="m in sto"
          :position.sync="{lat: m.latitude, lng: m.longitude}"
          :clickable="true"
          :draggable="true"
          @g-click="center=m.position"
        ></gmap-marker>
      </gmap-map>
  </div>
</template>

<script>
import Navigation from '~components/Navigation.vue'
import axios from 'axios'
import $ from 'jquery'
export default {
  data () {
    return {
      activeModel: 'Всех марок',
      SelectedModel: 'Выберите марку',
      SelectedRegion: 'Выберите район',
      center: {lat: 59.96, lng: 30.4},
      zoom: 10,
      sto: [],
      models: [],
      regions: [],
      details: 'all',
      DetailsTypes: {
        'all': 'Любые детали',
        'used': 'Б/у детали',
        'non_used': 'Новые детали',
        'by_request': 'Детали под заказ'
      },
      delivery: 2,
      page: 1
    }
  },
  async asyncData ({ params }) {
    let response = await axios.get('http://vsesto-spb.ru/api/work-types')
    let response2 = await axios.get('http://vsesto-spb.ru/api/clients?type=shop')
    let response3 = await axios.get('http://vsesto-spb.ru/api/car-models')
    let response4 = await axios.get('http://vsesto-spb.ru/api/regions')
    return { workTypes: response.data, sto: response2.data, models: response3.data, regions: response4.data }
  },
  components: {
    Navigation
  },
  watch: {
    activeModel: function () {
      window.alert('Перезапрос')
    }
  },
  computed: {
    pages: function () {
      if (this.sto.length < 16) {
        return 1
      } else {
        return parseInt(this.sto.length / 16)
      }
    },
    sto1: function () {
      return this.sto.slice((this.page - 1) * 8 + 0, 4)
    },
    sto2: function () {
      return this.sto.slice((this.page - 1) * 8 + 4, (this.page - 1) * 8 + 8)
    },
    sto3: function () {
      return this.sto.slice((this.page - 1) * 8 + 8, (this.page - 1) * 8 + 12)
    },
    sto4: function () {
      return this.sto.slice((this.page - 1) * 8 + 12, (this.page - 1) * 8 + 16)
    }
  },
  methods: {
    show_on_map: function (item) {
      $('html, body').animate({
        scrollTop: 2000
      }, 1200)
    },
    openRegions: function () {
      $('#regions').slideToggle('slow')
    },
    openModels: function () {
      $('#models').slideToggle('slow')
    },
    openDetails: function () {
      $('#details').slideToggle('slow')
    },
    SelectModel: function (model) {
      this.activeModel = model.name
      this.SelectedModel = model.name
    },
    ResetModel: function () {
      this.activeModel = 'Всех марок'
      this.SelectedModel = 'Выберите марку'
    },
    SelectRegion: function (region) {
      this.SelectedRegion = region
    },
    ResetRegion: function (argument) {
      this.SelectedRegion = 'Выберите район'
    },
    prevPage: function () {
      this.page--
    },
    Close: function () {
      this.show_menu = false
      this.activeType = ''
    },
    nextPage: function () {
      this.page++
    }
  }
}
</script>
<style scoped src="../assets/css/shop.css"></style>
<style scoped src="../assets/css/tabletshop.css"></style>
<style scoped src="../assets/css/mobileshop.css"></style>
